---
interface Props {
  title: string,
  location: string,
  start: string,
  end?: string
}

const {title, location, start, end} = Astro.props;
---

<div class="w-full flex flex-row justify-between">
  <span class="text-neutral-100 flex-grow" aria-label={`${title} at ${location}`}>
    {title}
    <span class="text-neutral-500">@</span>
    {location}
  </span>
  <span class="ml-auto text-neutral-500 text-nowrap" aria-label={ end != null ? `From ${start} to ${end}` : `From ${start} until present`}>
    {start}
    <span>{ end == null ? "~" :
      <span>- {end}</span>
    }
    </span>
  </span>
</div>
